* {
    text-decoration: none;
}

body {
    background-image: url('./assets/images/Group.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    font-family: monospace;
}

h1 {
    margin: 0;
}
